<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Todo List</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
	<h1>
		Todo List
	</h1>
	<h2>
		Built with Node.js, Express.js, and a JSON API
	</h2>
	<section class="form">
		<input type="text" id="todoInput" placeholder="Write a task">
	</section>
	<section>
	<ul id="todoList" class="list">
		<!-- Populated by API -->	
	</ul>
	</section>
	<script
  src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>